body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
 overflow-y: scroll !important;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.card-image {
 height: 200px;
 object-fit: cover;
}

.pagination {
 bottom: 15px;
}

.page-dropdown-menu {
 min-width: unset !important;
}

.dropdown-toggle::after {
 all: unset !important;
}

.loader {
 width: 50px;
}